
.pio-container{
    bottom: 0;
    z-index: 52;
    color: #666;
    position: fixed;
    user-select: none;
}
.pio-container:not(.loaded){ display: none }

.pio-container.left{ left: 0 }
.pio-container.right{ right: 0 }
.pio-container.active{ cursor: move }
.pio-container.static{ pointer-events: none }

.pio-container .pio-action{
    top: 3em;
    opacity: 0;
    position: absolute;
    transition: opacity .3s;
}
.pio-container.left .pio-action{ right: 0 }
.pio-container.right .pio-action{ left: 0 }
.pio-container:hover .pio-action{ opacity: 1 }

.pio-action span{
    color: #fff;
    width: 1.5em;
    height: 1.5em;
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 66%;
    margin-bottom: .5em;
    border: 1px solid #666;
    background: #fff center/70% no-repeat;
}
.pio-action .pio-home{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTg5My43IDUwNS45SDEyOS4zYy0xMyAwLTI0LjgtNy45LTI5LjgtMTkuOS01LTEyLTIuMi0yNS45IDctMzUuMmwzMDctMzA3YzI2LjEtMjYuMSA2MC45LTQwLjUgOTgtNDAuNXM3MS45IDE0LjQgOTggNDAuNWwzMDcgMzA3YzkuMiA5LjIgMTIgMjMuMSA3IDM1LjItNSAxMi4xLTE2LjcgMTkuOS0yOS44IDE5Ljl6TTY3My4yIDkxOS45aC0zMS41Yy0xNy44IDAtMzIuMy0xNC40LTMyLjMtMzIuM3YtNzcuNGMwLTIzLjEtMTguOC00Mi4xLTQxLjktNDIuNC0yMi4zIDAuMy00MS4xIDE5LjMtNDEuMSA0Mi40djc3LjRjMCAxNy44LTE0LjQgMzIuMy0zMi4zIDMyLjNIMzQ5LjhjLTcwLjkgMC0xMjguNy02My43LTEyOC43LTE0MS45VjU4MS45YzAtMTcuOCAxNC40LTMyLjMgMzIuMy0zMi4zaDUxNi4yYzE3LjggMCAzMi4zIDE0LjQgMzIuMyAzMi4zVjc3OGMtMC4xIDc4LjMtNTcuOCAxNDEuOS0xMjguNyAxNDEuOXoiPjwvcGF0aD48L3N2Zz4=);
}
.pio-action .pio-close{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE1NS4yNTIgOTQzLjgyNWMtMTkuMjEzIDAtMzguNDI5LTcuMzMyLTUzLjA4OS0yMS45ODgtMjkuMzE3LTI5LjMyMS0yOS4zMTctNzYuODU1IDAtMTA2LjE3NWw3MTMuNDk0LTcxMy40OTRjMjkuMzE3LTI5LjMyMSA3Ni44NTMtMjkuMzIxIDEwNi4xNzUgMCAyOS4zMTcgMjkuMzE3IDI5LjMxNyA3Ni44NTUgMCAxMDYuMTc1bC03MTMuNDk0IDcxMy40OTRjLTE0LjY2IDE0LjY2LTMzLjg3NCAyMS45ODgtNTMuMDg5IDIxLjk4OHoiIGZpbGw9IiI+PC9wYXRoPjxwYXRoIGQ9Ik04NjguNzQ5IDk0My44MjRjLTE5LjIxMyAwLTM4LjQyOC03LjMzMi01My4wODktMjEuOTg4bC03MTMuNDk0LTcxMy40OTNjLTI5LjMxNy0yOS4zMTctMjkuMzE3LTc2Ljg1NyAwLTEwNi4xNzUgMjkuMzE2LTI5LjMxNyA3Ni44NTUtMjkuMzIxIDEwNi4xNzQgMGw3MTMuNDk0IDcxMy40OTJjMjkuMzE3IDI5LjMyMSAyOS4zMTcgNzYuODU1IDAgMTA2LjE3NS0xNC42NTcgMTQuNjYxLTMzLjg3MSAyMS45OTMtNTMuMDg3IDIxLjk5M3oiIGZpbGw9IiI+PC9wYXRoPjwvc3ZnPg==);
}
.pio-action .pio-skin{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTk2NS45MTEgMzEwLjUzMWwtMTc0LjQtMTc0LjM5OGMtMTMuMDIyLTEzLjAyMS0zMC45MzMtMTkuNjQ5LTQ5LjM4MS0xOC4yMjgtMS43NC0wLjE1LTMuNDIyLTAuMjI0LTUuMDctMC4yMjRsLTkyLjkxNCAwLTYuNTE3IDMuNjI1Yy0zNC40MjEgMTkuMTQ2LTc4LjM0MSAyOS42ODktMTIzLjY2OCAyOS42ODktNDUuMzI4IDAtODkuMjQ2LTEwLjU0My0xMjMuNjY3LTI5LjY4OWwtNi41MTgtMy42MjVMMjkwLjg2IDExNy42ODFjLTIzLjY5MSAwLTQ0Ljk4NiAxMi45MjQtNTUuOTk1IDMzLjQ1MUw2Mi40NzcgMzIzLjUyMWMtMTEuOSAxMS44OTktMTguNDU0IDI3LjcyLTE4LjQ1NCA0NC41NDggMCAxNi44MjkgNi41NTQgMzIuNjQ5IDE4LjQ1MyA0NC41NDlsMTI1Ljk1MyAxMjUuOTU1YzEwLjU0IDEwLjUzOCAyNC4xNTcgMTYuODc4IDM4LjgyNiAxOC4xODFsMCAzMDQuMzk5YzAgMzUuMDczIDI4LjUzMyA2My42MDYgNjMuNjA0IDYzLjYwNmw0NDYuMTk5IDBjMzUuMDc0IDAgNjMuNjA3LTI4LjUzMyA2My42MDctNjMuNjA2bC0wLjAwMS0zMTcuMzQ1YzE0Ljg0NC0xLjIxMSAyOC42MzktNy41NzcgMzkuMjg4LTE4LjIyNEw5NjUuOTEgMzk5LjYyOEM5OTAuNDc1IDM3NS4wNjQgOTkwLjQ3NSAzMzUuMDk1IDk2NS45MTEgMzEwLjUzMXoiPjwvcGF0aD48L3N2Zz4=);
}
.pio-action .pio-info{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTY4Mi45IDgyNS45SDI2Ny44Yy0yMS44IDAtMzkuNS0xNy43LTM5LjUtMzkuNXMxNy43LTM5LjUgMzkuNS0zOS41aDQxNS4xYzIxLjggMCAzOS41IDE3LjcgMzkuNSAzOS41cy0xNy43IDM5LjUtMzkuNSAzOS41ek04NjQuNyAxMDAuNGMtMTguNSAzLjctMzEuMyAyMC45LTMxLjMgMzkuN3Y2NDUuOGMwIDQ4LTM4LjkgODctODcgODdIMjE5LjNjLTE2LjQgMC0yOS42LTEzLjMtMjkuNi0yOS42VjczMi43YzAtMTYuMSAxMy4xLTI5LjIgMjkuMi0yOS4yaDM3NS45Yzg4LjEgMCAxNTkuNS03MS40IDE1OS41LTE1OS41VjE4NS41YzAtNjYuMi01My43LTExOS45LTExOS45LTExOS45aC00MDRjLTY2LjIgMC0xMTkuOSA1My43LTExOS45IDExOS45djY1Ny44YzAgNjAgNDguNyAxMDguNyAxMDguNyAxMDguN2g1MjcuMWM5MS43IDAgMTY2LjEtNzQuMyAxNjYuMS0xNjYuMVYxMzkuMWMwLjEtMjQuNi0yMi4yLTQzLjktNDcuNy0zOC43eiI+PC9wYXRoPjwvc3ZnPg==);
}
.pio-action .pio-night{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUxMiAyMDkuNDAzMjQxYy0yMDEuNzMxNTE0IDAtMzc0LjAwOTIwNiAxMjUuNDc2NzgzLTQ0My44MDg5MjIgMzAyLjU5Njc1OSA2OS43OTg2OTIgMTc3LjExOTk3NyAyNDIuMDc3NDA4IDMwMi41OTY3NTkgNDQzLjgwODkyMiAzMDIuNTk2NzU5IDIwMS45MzMxMDUgMCAzNzQuMDEwMjI5LTEyNS40NzY3ODMgNDQzLjgwODkyMi0zMDIuNTk2NzU5Qzg4Ni4wMDkyMDYgMzM0Ljg4MDAyMyA3MTMuOTMzMTA1IDIwOS40MDMyNDEgNTEyIDIwOS40MDMyNDF6TTUxMiA3MTMuNzMxNTE0Yy0xMTEuMzU1MTU3IDAtMjAxLjczMTUxNC05MC4zNzUzMzQtMjAxLjczMTUxNC0yMDEuNzMxNTE0czkwLjM3NTMzNC0yMDEuNzMxNTE0IDIwMS43MzE1MTQtMjAxLjczMTUxNCAyMDEuNzMxNTE0IDkwLjM3NTMzNCAyMDEuNzMxNTE0IDIwMS43MzE1MTRTNjIzLjM1NTE1NyA3MTMuNzMxNTE0IDUxMiA3MTMuNzMxNTE0ek01MTIgMzkwLjk2MTI5NmMtNjYuNzcyNzc2IDAtMTIxLjAzODcwNCA1NC4yNjU5MjgtMTIxLjAzODcwNCAxMjEuMDM4NzA0czU0LjI2NTkyOCAxMjEuMDM4NzA0IDEyMS4wMzg3MDQgMTIxLjAzODcwNCAxMjEuMDM4NzA0LTU0LjI2NTkyOCAxMjEuMDM4NzA0LTEyMS4wMzg3MDRTNTc4Ljc3Mjc3NiAzOTAuOTYxMjk2IDUxMiAzOTAuOTYxMjk2eiI+PC9wYXRoPjwvc3ZnPg==);
}

.pio-container .pio-dialog{
    top: -2em;
    opacity: 0;
    z-index: -1;
    font-size: .8em;
    padding: .75em 1em;
    border-radius: 1em;
    visibility: hidden;
    word-break: break-all;
    /* transition: opacity .3s, visibility .3s; */
    width: 180px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    transition: box-shadow .2s ease;
    background: #fafafa;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    animation-delay: 5s;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-timing-function: ease-in-out;
}
.pio-container .pio-dialog.active{
    opacity: 1;
    visibility: visible;
}

.pio-container.left .pio-dialog{ left: 0em }
.pio-container.right .pio-dialog{ right: 0em }

#pio{ vertical-align: middle }

@media screen and (max-width: 768px){
    #pio{ width: 8em }
    .pio-container{ pointer-events: none }
}
@keyframes shake {
    2% {
        transform: translate(.5px,-1.5px) rotate(-.5deg);
    }

    4% {
        transform: translate(.5px,1.5px) rotate(1.5deg);
    }

    6% {
        transform: translate(1.5px,1.5px) rotate(1.5deg);
    }

    8% {
        transform: translate(2.5px,1.5px) rotate(.5deg);
    }

    10% {
        transform: translate(.5px,2.5px) rotate(.5deg);
    }

    12% {
        transform: translate(1.5px,1.5px) rotate(.5deg);
    }

    14% {
        transform: translate(.5px,.5px) rotate(.5deg);
    }

    16% {
        transform: translate(-1.5px,-.5px) rotate(1.5deg);
    }

    18% {
        transform: translate(.5px,.5px) rotate(1.5deg);
    }

    20% {
        transform: translate(2.5px,2.5px) rotate(1.5deg);
    }

    22% {
        transform: translate(.5px,-1.5px) rotate(1.5deg);
    }

    24% {
        transform: translate(-1.5px,1.5px) rotate(-.5deg);
    }

    26% {
        transform: translate(1.5px,.5px) rotate(1.5deg);
    }

    28% {
        transform: translate(-.5px,-.5px) rotate(-.5deg);
    }

    30% {
        transform: translate(1.5px,-.5px) rotate(-.5deg);
    }

    32% {
        transform: translate(2.5px,-1.5px) rotate(1.5deg);
    }

    34% {
        transform: translate(2.5px,2.5px) rotate(-.5deg);
    }

    36% {
        transform: translate(.5px,-1.5px) rotate(.5deg);
    }

    38% {
        transform: translate(2.5px,-.5px) rotate(-.5deg);
    }

    40% {
        transform: translate(-.5px,2.5px) rotate(.5deg);
    }

    42% {
        transform: translate(-1.5px,2.5px) rotate(.5deg);
    }

    44% {
        transform: translate(-1.5px,1.5px) rotate(.5deg);
    }

    46% {
        transform: translate(1.5px,-.5px) rotate(-.5deg);
    }

    48% {
        transform: translate(2.5px,-.5px) rotate(.5deg);
    }

    50% {
        transform: translate(-1.5px,1.5px) rotate(.5deg);
    }

    52% {
        transform: translate(-.5px,1.5px) rotate(.5deg);
    }

    54% {
        transform: translate(-1.5px,1.5px) rotate(.5deg);
    }

    56% {
        transform: translate(.5px,2.5px) rotate(1.5deg);
    }

    58% {
        transform: translate(2.5px,2.5px) rotate(.5deg);
    }

    60% {
        transform: translate(2.5px,-1.5px) rotate(1.5deg);
    }

    62% {
        transform: translate(-1.5px,.5px) rotate(1.5deg);
    }

    64% {
        transform: translate(-1.5px,1.5px) rotate(1.5deg);
    }

    66% {
        transform: translate(.5px,2.5px) rotate(1.5deg);
    }

    68% {
        transform: translate(2.5px,-1.5px) rotate(1.5deg);
    }

    70% {
        transform: translate(2.5px,2.5px) rotate(.5deg);
    }

    72% {
        transform: translate(-.5px,-1.5px) rotate(1.5deg);
    }

    74% {
        transform: translate(-1.5px,2.5px) rotate(1.5deg);
    }

    76% {
        transform: translate(-1.5px,2.5px) rotate(1.5deg);
    }

    78% {
        transform: translate(-1.5px,2.5px) rotate(.5deg);
    }

    80% {
        transform: translate(-1.5px,.5px) rotate(-.5deg);
    }

    82% {
        transform: translate(-1.5px,.5px) rotate(-.5deg);
    }

    84% {
        transform: translate(-.5px,.5px) rotate(1.5deg);
    }

    86% {
        transform: translate(2.5px,1.5px) rotate(.5deg);
    }

    88% {
        transform: translate(-1.5px,.5px) rotate(1.5deg);
    }

    90% {
        transform: translate(-1.5px,-.5px) rotate(-.5deg);
    }

    92% {
        transform: translate(-1.5px,-1.5px) rotate(1.5deg);
    }

    94% {
        transform: translate(.5px,.5px) rotate(-.5deg);
    }

    96% {
        transform: translate(2.5px,-.5px) rotate(-.5deg);
    }

    98% {
        transform: translate(-1.5px,-1.5px) rotate(-.5deg);
    }

    0%,100% {
        transform: translate(0,0) rotate(0);
    }
}